.chatInput {
	display: flex;
	align-items: center;
	height: 42px;
}

.chatInput input {
	flex: 1;
	height: 100%;
	border: 0;
	padding: 0 15px;
	background: #141E2F;
	color: #e2dfe2;
}

.chatInput button {
	flex: 0;
	height: 100%;
	padding: 0 20px;
	border: none;
	background: #34967A;
	color: #FEF9FF;
	font-size: 18px;
	text-align: center;
	transition: .5s;
}

.chatInput button:hover {
	cursor: pointer;
	opacity: .8;
}