#draftOrder {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: top;
  height: 75px;
  width: 99vw; }

.draftOrder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .draftOrder .orderOwner {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #fff;
    color: #5a5a5a;
    text-align: center;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    font-size: 16px; }
    .draftOrder .orderOwner span.name {
      display: inline-block;
      margin-top: 5px;
      font-size: 22px;
      color: black; }
    .draftOrder .orderOwner.active {
      border: none; }
      .draftOrder .orderOwner.active:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0px;
        background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
        background-size: 300% 300%;
        clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), 5px calc(100% - 5px), 5px 100%, 100% 100%, 100% 0%, 0% 0%); }
    .draftOrder .orderOwner:before {
      animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite; }
  @media screen and (max-width: 760px) {
    .draftOrder {
      overflow-x: hidden; }
      .draftOrder .orderOwner {
        width: auto;
        flex: 1 0 calc(100vw / 3 - 150px / 3); }
        .draftOrder .orderOwner span.name {
          margin-top: 11px;
          font-size: 16px; } }
  .draftOrder #countdown {
    position: relative;
    height: calc(100% - 2px);
    min-width: 250px;
    text-align: center;
    background: #475570;
    border: 1px solid #111;
    padding: 0; }
    .draftOrder #countdown.draftWarning {
      background: linear-gradient(120deg, #650000, #e60505, #650000);
      animation: warning-gradient-animation 2s ease-in-out infinite; }
      .draftOrder #countdown.draftWarning .labels li {
        color: white; }
    .draftOrder #countdown #tiles span {
      width: 92px;
      max-width: 92px;
      font: bold 24px 'Droid Sans', Arial, sans-serif;
      text-align: center;
      color: #111;
      background-color: #ddd;
      border-top: 1px solid #fff;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
      margin: 5px 7px;
      padding: 4px 0;
      display: inline-block;
      position: relative; }
    .draftOrder #countdown .labels {
      width: 100%;
      height: 25px;
      text-align: center;
      position: absolute;
      bottom: 0px; }
      .draftOrder #countdown .labels li {
        width: 102px;
        font: bold 15px 'Droid Sans', Arial, sans-serif;
        color: #7CB982;
        text-shadow: 1px 1px 0px #000;
        text-align: center;
        text-transform: uppercase;
        display: inline-block; }
    @media screen and (max-width: 760px) {
      .draftOrder #countdown {
        min-width: 142px; }
        .draftOrder #countdown #tiles span {
          width: 42px;
          font: bold 24px 'Droid Sans', Arial, sans-serif; }
        .draftOrder #countdown .labels li {
          font: bold 8px 'Droid Sans', Arial, sans-serif;
          margin: 0 12px;
          width: auto; } }

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 85% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes warning-gradient-animation {
  0% {
    background-size: 100%; }
  50% {
    background-size: 200%; }
  100% {
    background-size: 100%; } }
@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), 5px calc(100% - 5px), 5px 100%, 100% 100%, 100% 0%, 0% 0%); }
  25% {
    clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) 100%, 100% 100%, 100% 0%, 0% 0%); }
  50% {
    clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 5px, 100% 0%, 0% 0%); }
  75% {
    -webkit-clip-path: polygon(0% 100%, 5px 100%, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 0%, 0% 0%); }
  100% {
    -webkit-clip-path: polygon(0% 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 5px 100%, 0% 100%); } }

/*# sourceMappingURL=DraftOrder.css.map */
