$app-green: #3A814A;
$off-white: #F2F4F4;
$app-blue: #2c405a;

// v2
// $Blue: #2c405a; //(Font color on white)
// $DarkBlue: #243449;
// $Green: #81c926;
// $Orange: #fd7b1f;
// $White: #ffffff;
// $LightGray: #c5d9e8;