@import "../assets/variables";

section#login {
	position: fixed;
	transition: .5s;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
}

.loginContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	max-width: 650px;
    width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	
	a {
		color: #4A556E;
		text-decoration: none;
	}
}

.loginHeader {
	padding: 1px 0 10px;
	background: $app-green;
	color: white;
}

.ownersLoginList {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		flex: 1 1 30%;
		height: 80px;
		transition: .5s;

		&:hover {
			cursor: pointer;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
			background: linear-gradient(120deg, rgb(28, 33, 44), #4A556E, rgb(28, 33, 44));
			animation: warning-gradient-animation 2s ease-in-out infinite;

			p {
				color: white;
				font-size: 24px;
			}
		}
		p {
			flex: 1 0 100%;
		}
	}
}

@keyframes warning-gradient-animation {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 200%;
	}
	100% {
		background-size: 100%;
	}
}

@media screen and (max-width: 750px) {
	.loginContainer {
		width: 85vw;
	}
	#login .loginHeader small {
		font-size: 10px;
	}
	.ownersLoginList div {
		flex: 1 1 45%;
		height: 72px;

		small {
			font-size: 10px;
		}
	}
}