@import "../assets/variables";

.c-login {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 35px;
	background: rgba(#fff, 0.7);

	&__success {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		background: rgba($app-green, 0.7);
		color: #fff;
		border-radius: 5px;
		text-align: center;
		margin: 20px 0 0;
		padding: 7px 30px;
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;
		border-radius: 5px;
		background: #e9eeea;
		box-shadow:  20px 20px 60px #c6cac7, 
					-20px -20px 60px #fff;
	}

	&__options {
		display: flex;
		width: 200%;
		transition: .5s;

		&.form-slide {
			transform: translateX(-50%);
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			flex: 1;
    		height: calc(100% - 50px);
		}
	}

	&__tab-container {
		display: flex;
		align-items: center;
	}
	
	&__tab {
		flex: 1;
		background: $app-blue;
		padding: 15px 0;
		color: white;
		opacity: .7;
		transition: .3s;

		&.active-tab {
			opacity: 1;
		}

		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}

	&__message {
		font-size: 22px;
		text-align: center;
	}

	&__headline {
		margin: 0;
		text-align: center;
		font-size: 18px;
	}

	&__label {
		display: block;
		min-width: 250px;
		margin: 12px auto;
	}

	&__input {
		display: block;
		width: 100%;
		padding: 5px;
		margin-top: 5px;
		font-size: 22px;
	}

	&__submit {
		margin: 20px auto 20px;
		padding: 5px 25px;
		font-size: 16px;
		background: $app-green;
		color: #fff;
		border: none;
		border-radius: 5px;
		transition: .3s;

		&:hover {
			cursor: pointer;
			opacity: .7;
		}
	}
}

section#login {
	position: fixed;
	transition: .5s;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
}

.loginContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	max-width: 650px;
    width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	
	a {
		color: #4A556E;
		text-decoration: none;
	}
}

.loginHeader {
	padding: 1px 0 10px;
	background: $app-green;
	color: white;
}

.ownersLoginList {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		flex: 1 1 30%;
		height: 80px;
		transition: .5s;

		&:hover {
			cursor: pointer;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
			background: linear-gradient(120deg, rgb(28, 33, 44), #4A556E, rgb(28, 33, 44));
			animation: warning-gradient-animation 2s ease-in-out infinite;

			p {
				color: white;
				font-size: 24px;
			}
		}
		p {
			flex: 1 0 100%;
		}
	}
}

@keyframes warning-gradient-animation {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 200%;
	}
	100% {
		background-size: 100%;
	}
}

@media screen and (max-width: 750px) {
	.loginContainer {
		width: 85vw;
	}
	#login .loginHeader small {
		font-size: 10px;
	}
	.ownersLoginList div {
		flex: 1 1 45%;
		height: 72px;

		small {
			font-size: 10px;
		}
	}
}