@import "./components/assets/variables";

.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "draft draft draft"
    "messaging messaging messaging";
  grid-template-rows: 35px 595px 270px;
  grid-gap: 5px;
  background: $off-white;
  height: 100vh;

  ul, li {
    list-style-type: none;
    padding: 0;
  }
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-color: $app-blue;
  color: $off-white;
  text-align: center;
  padding: 10px 40px;
  box-shadow: 0px 1px 5px $off-white;

  button {
    background: none;
    border: 1px solid $off-white;
    border-radius: 5px;
    color: $off-white;
    margin: 0 0 0 10px;
    transition: .5s;

    @media screen and (max-width: 760px) {
      display: none;
    }

    &:hover {
      cursor: pointer;
      color: $app-green;
      border: 1px solid $app-green;
      background: $off-white;
    }
  }
  .App-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: $off-white;
  }

  .App-bracket {
    display: inline-block;
    font-size: 12px;
    color: $off-white;
  }
}

.c-app {
  &__nav-list {
    display: inline-block;
    height: 100%;
  }

  &__nav-item {
    display: inline-block;
    margin: 0 30px;

    &:hover {
      cursor: pointer;
    }
  }
  
  &__submenu {
    position: absolute;
    margin: 10px 0 0;
    height: 0px;
    overflow: hidden;
    z-index: 99;
    transition: .5s;

    &.dropdown {
      height: auto;
    }

    li {
      background: $app-blue;
      padding: 7px 10px;
      border-bottom: 1px solid $off-white;
      transition: .3s;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }

    a {
      color: $off-white;
      text-decoration: none;
    }
  }

  &__caret {
    font-size: 8px;
  }
}

#draftWrapper {
  grid-area: draft;
}

#draft {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: top;
  width: 99vw;
  height: calc(100% - 75px);
}

#chat {
  grid-area: messaging;
  height: 257px;
  background: $app-blue;
}

.mobile-hamburger, .mobile-menu {
  display: none;
}


@media screen and (max-width: 1150px) {
  .App {
    grid-template-rows: 35px auto 270px;
    height: auto;
  }

  #draft {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 760px) {
  .mobile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background: $app-green;

    button {
      background: none;
      border: 1px solid $off-white;
      border-radius: 5px;
      color: $off-white;
      margin: 0 0 0 10px;
      transition: .5s;
  
      &:hover {
        cursor: pointer;
        color: $app-green;
        border: 1px solid $app-green;
        background: $off-white;
      }
    }
  }

  #chat {
    margin-bottom: 40px;
  }
}