@import "../../assets/_variables.scss";

.draftTable {
	position: relative;
	flex: 2 0 450px;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-y: scroll;

	tr {
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		justify-content: space-between;
		align-content: center;
		width: 100%;
		height: 26px;
		border-bottom: 1px solid #fff;

		&[data-picked="true"] {
			background: yellow;
		}

		&.selected {
			td, th {
				background: #fff;
				font-weight: bold;
			}
		}
	}
	thead tr {
		height: 26px;
    	padding: 3px 0px 0;
		border-bottom: none;
		background: $app-blue;
		color: $off-white;
	}
	td, th {
		flex: 1 1 12%;
		width: 16%;
		text-align: left;
		padding: 3px 5px 0;
		font-size: 16px;
		font-weight: 400;

		@media screen and (max-width: 760px) {
			&.pts, &.reb, &.ast {
				display: none;
			}
		}
	}
	.name {
		flex: 1 1 28%;
	}
	.school {
		flex: 1 1 22%;
	}
	.total {
		flex: 1 1 12%;
	}
	
	@media screen and (max-width: 760px) {
		.school, .total {
			flex: 1 1 40px;
    		font-size: 14px;
		}
		.total {
			flex: 1 1 20px;
		}
	}

	td a {
		color: $app-green;
		text-decoration: none;
	}
	td a:hover {
		text-decoration: underline;
	}
	tbody {
		display: block;
		overflow: auto;
		height: 345px;

		tr:hover {
			background: #fff;
			cursor: pointer;

			th, td {
				font-weight: bold;
			}
		}

		tr[data-picked="true"]:hover {
			cursor: not-allowed;
			background: yellow;
		}
	}
}

.draftPreview {
	display: block;
	position: relative;
	height: 110px;
	padding: 0 0 0 10px;

	.draftPlayer {
	    display: flex;
		align-items: center;
		width: 100%;
		height: 105px;

		div {
			display: inline-block;
		}

		div.draftName {
			flex: 1 0 115px;
			max-width: 250px;

			p {
				margin: 0 0 7px;
				font-size: 30px;

				@media screen and (max-width: 1360px) {
					font-size: 23px;
				}

				&:last-of-type {
					font-size: 18px;
					color: rgba(0,0,0,.7);
					margin: 0 0 0;
				}
			}
		}

		div.stats {
			height: 40px;
			width: 62px;
			background-color: #fff;
			text-align: center;
			padding: 7px 2px;
			margin-right: 25px;
			box-shadow: 0px 0px 5px $app-blue;

			@media screen and (max-width: 760px) {
				&.pts, &.rebs, &.ast {
					display: none;
				}
			}

			p { //label
				margin: 0 0 5px;
				font-size: 12px;
			}

			span { //stat
				font-size: 22px;
			}
		}
	}

	button {
		background: $app-green;
		color: $off-white;
		box-shadow: 0.4rem 0.4rem 2px black;
  		transform: translate(-0.4rem, -0.4rem);
		border: none;
		height: 42px;
		width: 160px;
		font-size: 18px;
		margin-left: 20px;
		outline: none;
		transition: .5s;

		@media screen and (max-width: 760px) {
			height: 38px;
			width: 130px;
			font-size: 14px;
		}

		&:hover {
			cursor: pointer;
  			box-shadow: 0.2rem 0.2rem 2px black;
  			transform: translate(-0.2rem, -0.2rem);
		}

		&:active {
			box-shadow: 0rem 0rem 2px black;
  			transform: translate(0rem, 0rem);
  			outline: none;
		}
	}
}

.tableFilters {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding-left: 10px;

	@media screen and (max-width: 680px) {
		flex-wrap: wrap;
	}

	label {
		display: inline-block;
		margin-right: 10px;

		@media screen and (max-width: 760px) {
			// font-size: 14px;
		}
	}

	.teamFilterWrapper {
		@media screen and (max-width: 650px) {
			width: 100%;
		}
	}

	.seedFilterWrapper {
		width: 200px;
		margin-right: 20px;

		@media screen and (max-width: 380px) {
			margin-right: 10px;
		}

		.noUi-target {
			width: calc(100% - 55px);
			float: right;
		}
		.noUi-horizontal .noUi-handle {
			width: 20px;
			height: 20px;
			padding-top: 5px;
			padding-right: 1px;
			border-radius: 50%;
			top: -2px;
			background: $app-blue;

			span {
				display: block;
				color: white;
				font-size: 8px;
				text-align: center;
			}
		}
		.noUi-handle:before, .noUi-handle:after {
			background: none;
		}
	}

	.bestAvailableWrapper {
		display: none;
	}
}

.draftContainer {
	position: relative;
	width: 100%;
    padding: 0 10px 5px;
}
