.draftTable {
  position: relative;
  flex: 2 0 450px;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #141E2F;
  overflow-y: scroll; }
  .draftTable tr {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 26px;
    border-bottom: 1px solid #303841; }
    .draftTable tr[data-picked="true"] {
      background: yellow; }
    .draftTable tr.selected td, .draftTable tr.selected th {
      background: rgba(13, 19, 29, 0.5);
      font-weight: bold; }
  .draftTable thead tr {
    height: 26px;
    padding: 3px 0px 0;
    border-bottom: none;
    background: #0d131d;
    color: #e2dfe2; }
  .draftTable td, .draftTable th {
    flex: 1 1 12%;
    width: 16%;
    text-align: left;
    padding: 3px 5px 0;
    font-size: 16px;
    font-weight: 400; }
    @media screen and (max-width: 760px) {
      .draftTable td.pts, .draftTable td.reb, .draftTable td.ast, .draftTable th.pts, .draftTable th.reb, .draftTable th.ast {
        display: none; } }
  .draftTable .name {
    flex: 1 1 28%; }
    .draftTable .name .isInjured {
      height: 7px;
      width: 7px;
      background: #C97B84;
      display: inline-block;
      border-radius: 50%;
      margin-left: 5px; }
  .draftTable .school {
    flex: 1 1 22%; }
  .draftTable .total {
    flex: 1 1 12%; }
  @media screen and (max-width: 760px) {
    .draftTable .school, .draftTable .total {
      flex: 1 1 40px;
      font-size: 14px; }
    .draftTable .total {
      flex: 1 1 20px; } }
  .draftTable td a {
    color: #34967A;
    text-decoration: none; }
  .draftTable td a:hover {
    text-decoration: underline; }
  .draftTable tbody {
    display: block;
    overflow: auto;
    height: 345px;
    color: #e2dfe2; }
    .draftTable tbody tr:hover {
      opacity: .8;
      background: rgba(13, 19, 29, 0.3);
      cursor: pointer; }
      .draftTable tbody tr:hover th, .draftTable tbody tr:hover td {
        font-weight: bold; }
    .draftTable tbody tr[data-picked="true"]:hover {
      cursor: not-allowed;
      background: yellow; }

.draftPreview {
  display: block;
  position: relative;
  height: 110px;
  padding: 0 0 0 10px; }
  .draftPreview .draftPlayer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 105px; }
    .draftPreview .draftPlayer div {
      display: inline-block; }
    .draftPreview .draftPlayer div.draftName {
      flex: 1 0 115px;
      max-width: 250px; }
      .draftPreview .draftPlayer div.draftName p {
        margin: 0 0 7px;
        font-size: 30px;
        color: #e2dfe2; }
        @media screen and (max-width: 1360px) {
          .draftPreview .draftPlayer div.draftName p {
            font-size: 23px; } }
        .draftPreview .draftPlayer div.draftName p:last-of-type {
          font-size: 18px;
          margin: 0 0 0; }
    .draftPreview .draftPlayer div.stats {
      height: 40px;
      width: 62px;
      background-color: #fff;
      text-align: center;
      padding: 7px 2px;
      margin-right: 25px;
      box-shadow: 0px 0px 5px #0d131d; }
      @media screen and (max-width: 760px) {
        .draftPreview .draftPlayer div.stats.pts, .draftPreview .draftPlayer div.stats.rebs, .draftPreview .draftPlayer div.stats.ast {
          display: none; } }
      .draftPreview .draftPlayer div.stats p {
        margin: 0 0 5px;
        font-size: 12px; }
      .draftPreview .draftPlayer div.stats span {
        font-size: 22px; }
  .draftPreview button {
    background: #34967A;
    color: #e2dfe2;
    box-shadow: 0.4rem 0.4rem 2px #303841;
    transform: translate(-0.4rem, -0.4rem);
    border: none;
    height: 42px;
    width: 160px;
    font-size: 18px;
    margin-left: 20px;
    outline: none;
    transition: .5s; }
    @media screen and (max-width: 760px) {
      .draftPreview button {
        height: 38px;
        width: 130px;
        font-size: 14px; } }
    .draftPreview button:hover {
      cursor: pointer;
      box-shadow: 0.2rem 0.2rem 2px black;
      transform: translate(-0.2rem, -0.2rem); }
    .draftPreview button:active {
      box-shadow: 0rem 0rem 2px black;
      transform: translate(0rem, 0rem);
      outline: none; }

.tableFilters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 5px; }
  @media screen and (max-width: 680px) {
    .tableFilters {
      flex-wrap: wrap; } }
  .tableFilters label {
    display: inline-block;
    margin-right: 10px;
    color: #e2dfe2; }
  @media screen and (max-width: 650px) {
    .tableFilters .teamFilterWrapper {
      width: 100%; } }
  .tableFilters .teamFilterWrapper input {
    background: #0d131d;
    color: #e2dfe2;
    border: 1px solid #303841; }
  .tableFilters .seedFilterWrapper {
    width: 200px;
    margin-right: 20px; }
    @media screen and (max-width: 380px) {
      .tableFilters .seedFilterWrapper {
        margin-right: 10px; } }
    .tableFilters .seedFilterWrapper .noUi-target {
      width: calc(100% - 55px);
      float: right; }
    .tableFilters .seedFilterWrapper .noUi-horizontal .noUi-handle {
      width: 20px;
      height: 20px;
      padding-top: 5px;
      padding-right: 1px;
      border-radius: 20%;
      top: -2px;
      background: #0d131d; }
      .tableFilters .seedFilterWrapper .noUi-horizontal .noUi-handle:hover {
        cursor: pointer; }
      .tableFilters .seedFilterWrapper .noUi-horizontal .noUi-handle span {
        display: block;
        color: white;
        font-size: 8px;
        text-align: center; }
    .tableFilters .seedFilterWrapper .noUi-handle:before, .tableFilters .seedFilterWrapper .noUi-handle:after {
      background: none; }
  .tableFilters .bestAvailableWrapper {
    display: none; }

.draftContainer {
  position: relative;
  width: 100%;
  padding: 0 10px 5px; }

/*# sourceMappingURL=DraftTable.css.map */
